<!DOCTYPE html>
  
<%= render 'layouts/header' %>
  
<!-- BeginBody -->
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Chambre des m&eacute;tiers de Saint Louis</a>
          
          <!-- Login info + menu -->
          
          <div class="btn-group pull-right">
            <% if current_user %>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <%= current_user.email %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="<%= logout_path %>">Sign Out</a></li>
            </ul>
          <% else  %>
            <%= link_to 'Connexion',login_path, :class => "btn"  %>
           
          <% end %>  
          </div>
          
          <!-- EOF Login info + menu -->
          
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to 'Accueil', root_path %></li>
              <li class="active"><%= link_to 'Qui sommes nous?', whoweare_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>  

<!-- main container -->
<div id="container">
  <% flash.each do  |name, msg|  %>
    <%= content_tag :div , msg, :id => "flash_#{name}", :class => "#{flash_class name}"%>
  <% end %>
    
            <%= yield %>

</div>    
<!-- EOF main container -->

<%= render 'layouts/footer' %>